.container {
    font-family: Arial, serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.default-tab-container {
    display: flex;
    align-items: center;
}

.default-tab-caption {
    min-width: 100px;
}

#default-tab {
    background: transparent;
    font-size: 18px;
    width: 100%;
    padding: 5px;
    line-height: 1;
    border: 2px solid #e04f5f;
    height: 34px;
    -webkit-appearance: none;
}

.site-input-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#site-caption {
    display: none;
    min-width: 220px;
}

#site-input {
    display: none;
    box-sizing: border-box;
    width: 100%;
    background: transparent;
    padding: 5px;
    font-size: 18px;
    line-height: 1;
    border: 2px solid #e04f5f;
    height: 34px;
    -webkit-appearance: none;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.checkbox-container {
    display: flex;
    min-width: 200px;
    margin-bottom: 10px;
}

#close-pinned {
    margin-left: 10px;
}

#group-only {
    margin-left: 10px;
}

#save {
    margin-top: 10px;
    font-size: 18px;
    width: 100%;
    background: transparent;
    padding: 5px;
    border: 2px solid #e04f5f;
}

.icon-author {
    margin-top: 20px;
    font-size: 12px;
    font-style: italic;
}

.icon-author a {
    color: #e04f5f;
}
